:root {
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --color-dark: #212121;
  --color-light: #d1d7e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: var(--font-size-xs);
  height: 100%;
}

header {
  align-items: center;
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  font-size: 24px;
  justify-content: center;
  text-align: center;
}
